.sand {
    font-size:30px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.switchCase{
    font-size:70px;
    font-style: italic;
    color: blue;
}
.textColor{
    color: red;
}
.textStyle{
    font-style:italic;
}
.textSize{
    font-size: 90px;;
}