<p class="sand">Sand component works!</p>

<h2 *ngIf = "dit; then ifblock else elseBlock"></h2>

<ng-template #elseBlock>
<p>fksfksnfksnksmdsknxklsmsLMSKLNSAKLJXNSMXNJSANX</p>
</ng-template>
<ng-template #ifblock>
    <p>dksmdmd{{name}}</p>
    </ng-template>

<div [ngSwitch]="choose">
 <div class="SwitchCase">
    <div *ngSwitchCase="'one'" > FirstCase </div>
    <div *ngSwitchCase="'four'" > FourthCase </div>
    <div *ngSwitchCase="'two'" > SecondCase </div>
    <div *ngSwitchCase="'three'" > ThirdCase </div>
    <div *ngSwitchDefault > No Choise</div>

    <div *ngFor = "let z of array; index as i odd as o">
        <h2>{{o}}{{i}}   {{z}}</h2>
    </div>
 </div>
</div>
<h2>{{parentmsg}}</h2>

<button (click)="onClick()">Click Me!</button>

<h2>{{names | uppercase}}</h2>
<h2>{{names | lowercase}}</h2>
<h2>{{names | titlecase}}</h2>
<h2>{{mess | titlecase}}</h2>
<h2>{{names | slice:3:5}}</h2>
<h2>{{obj | json }}</h2>

<h2>{{5.2679089 | number: '3.7'}}</h2>
<h2>{{5.144 |  currency:'INR'}}</h2>
<h2>{{0.5 | percent}}</h2>
<h2>{{date}}</h2>
<h2>{{date | date: 'short'}}</h2>
<h2>{{date | date: 'shortDate'}}</h2>
<h2>{{date | date: 'shortTime'}}</h2>
<h2>{{date | date: 'medium'}}</h2>
<h2>{{date | date: 'mediumDate'}}</h2>
<h2>{{date | date: 'mediumTime'}}</h2>
<h2>{{date | date: 'long'}}</h2>
<h2>{{date | date: 'longDate'}}</h2>
<h2>{{date | date: 'longTime'}}</h2>


























































































































































































































































































































































































































































































































































































































































































































